<h2>Add Supplier</h2>
<form method="POST" action="/suppliers/store">
  Name: <input type="text" name="name"><br>
  Address: <input type="text" name="address"><br>
  Phone: <input type="text" name="phone"><br>
  <button type="submit">Save</button>
</form>
