<%- include('partials/header') %>
<div class="text-center">
  <h1 class="mt-5">Welcome to Product-Supplier CRUD App</h1>
  <p class="lead">Manage suppliers and products easily</p>
  <a href="/suppliers" class="btn btn-primary m-2">Manage Suppliers</a>
  <a href="/products" class="btn btn-success m-2">Manage Products</a>
</div>
<%- include('partials/footer') %>
