<h2>Add Product</h2>
<form method="POST" action="/products/store">
  Name: <input type="text" name="name"><br>
  Address: <input type="text" name="address"><br>
  Phone: <input type="text" name="phone"><br>
  Supplier:
  <select name="supplierId">
    <% suppliers.forEach(s => { %>
      <option value="<%= s._id %>"><%= s.name %></option>
    <% }) %>
  </select><br>
  <button type="submit">Save</button>
</form>
